:root {
    --design-default: #393535;
    --design-primary: #9D585C;
    --design-primary-hover: #8f4448;
    --design-secondary: #C292B2;
    --design-secondary-hover: #c473a9;

    --design-background: #F6D5C4;
    --design-info: #faede6;
}