<ui-page-layout title="Mes services">
    <h2 uiTitle hasBackground size="large">Gestion de Projets événementiels</h2>
    <div class="cards-container">
        <ui-card title="Avant l'événement : construire les bases solides" image="service_event_step1" isRowIcon>
            <ul>
                <li>Compréhension de vos besoins, de vos objectifs et de votre public</li>
                <li>Proposition conceptuelle et ligne directrice de l'événement</li>
                <li>Coordination des prestataires et gestion logistique</li>
                <li>Élaboration du planning et suivi du budget</li>
            </ul>
        </ui-card>
        <ui-card title="Pendant la préparation : assurer la cohérence et le rythme" image="service_event_step2" isRowIcon>
            <ul>
                <li>Suivi des livrables créatifs (signalétique, supports, animations, visuels)</li>
                <li>Gestion de la production et accompagnement des équipes</li>
                <li>Mise en place du conducteur et anticipation du jour J</li>
            </ul>
        </ui-card>
        <ui-card title="Pendant la préparation : assurer la cohérence et le rythme" image="service_event_step3" isRowIcon>
            <ul>
                <li>Présence sur place et supervision de l'ensemble des actions</li>
                <li>Coordination des intervenants et prestataires</li>
                <li>Gestion des imprévus et accompagnement des équipes jusqu'au dernier invité</li>
            </ul>
        </ui-card>
    </div>

    <br /><br />

    <h2 uiTitle hasBackground size="large">gestion de Projets de communication</h2>
    <div class="cards-container">
        <ui-card title="Création de contenus" image="service_event_step1" isRowIcon>
            <ul>
                <li>Compréhension de vos besoins, de vos objectifs et de votre public</li>
                <li>Proposition conceptuelle et ligne directrice de l'événement</li>
                <li>Coordination des prestataires et gestion logistique</li>
                <li>Élaboration du planning et suivi du budget</li>
            </ul>
        </ui-card>
        <ui-card title="Graphisme" image="service_event_step2" isRowIcon>
            <ul>
                <li>Suivi des livrables créatifs (signalétique, supports, animations, visuels)</li>
                <li>Gestion de la production et accompagnement des équipes</li>
                <li>Mise en place du conducteur et anticipation du jour J</li>
            </ul>
        </ui-card>
    </div>
</ui-page-layout>
  