<div class="media-container">
    <div class="media-element">
        <img src="/linkedin.png" alt="Linkedin" class="media-image" />
        <p>LinkedIn</p>
    </div>
    <div class="media-element">
        <img src="/instagram.png" alt="Instagram" class="media-image" />
        <p>Instagram</p>
    </div>
    <div class="media-element">
        <img src="/youtube.png" alt="Youtube" class="media-image" />
        <p>Youtube</p>
    </div>
</div>

<div class="contact">
    <p>Téléphone : <span (click)="copy('0649306866', 'Numéro de téléphone')" class="contact-value">06.49.30.68.66</span></p>
    <p>Email : <span (click)="copy('clemence.jomain@icloud.com', 'Email')" class="contact-value">clemence.jomain{{'@'}}icloud.com</span></p>
</div>

<p class="copyright">© 2025 Clémence Jomain - Tous droits réservés</p>