:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;

    .title {
        margin-top: 100px;
        margin-bottom: 60px;
        font-size: 48px;
        font-family: 'NunitoBold', sans-serif;
        color: var(--primary-color);
    }

    .services-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .service-card {
        background-color: rgb(255, 255, 255);
        width: 350px;
        height: 500px;
        border-radius: 8px;
        box-shadow: 2px 2px 8px 2px rgba(172, 172, 172, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .service-card:hover {
        box-shadow: 3px 3px 8px 2px rgba(172, 172, 172, 0.35);
        transform: scale(1.02);
    }

    .service-border {
        border: 1px solid var(--secondary-color-hover);
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-image {
        width: 300px;
        height: 180px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .service-title {
        font-family: 'NunitoBold', sans-serif;
        font-size: 24px;
        margin: 60px 0 10px 0;
    }

    .service-content {
        padding: 0 20px;
        text-align: center;
        font-size: 16px;
    }

    .projets-button {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white;
        letter-spacing: 1px;
        background-color: var(--primary-color);
        border: none;
        border-radius: 4px;
        padding: 16px 20px;
        margin: 40px 200px 0 auto;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .projets-button:hover {
        background-color: var(--primary-color-hover);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
        cursor: pointer;
    }
}