<div class="content">
    <p class="title">Qui suis-je ?</p>
    <p class="description">
        Je m'appelle Clémence Jomain, 27 ans, basée à [ta ville].
        <br><br>
        Après un [nom du diplôme] en communication et événementiel à [école/université], j'ai travaillé pour [nom de structure/entreprise],
        où j'ai développé mes compétences en stratégie de communication, digital et organisation d'événements.
        <br><br>
        Aujourd'hui, en tant que freelance, j'accompagne entreprises et particuliers dans la création de projets sur-mesure,
        en alliant créativité, rigueur et sens du détail pour concevoir des expériences mémorables et une communication efficace.
    </p>
</div>

<img src="/me.png" alt="Photo de Clémence Jomain" class="about-me-image" />