<div class="content">
    <h2 class="title">Qui suis-je ?</h2>

    <p class="description">
        Vous cherchez à structurer, dynamiser ou repenser votre communication ?<br />
Je suis Clémence Jomain, consultante freelance en communication 360° et cheffe de projet événementiel, basée à Lyon (et dispo partout en visio !). Possibilité de présentiel également sur Paris, nous pouvons en discuter 😉.
    </p>

    <p class="description">
        🎯 Ma mission : faire rayonner votre marque avec une communication alignée, créative et structurée.
    </p>

    <p class="description">
        Diplômée d’un Mastère en Management de la Communication (Stratégie digitale, Réseaux sociaux, Brand Strategy), j’accompagne aujourd’hui entreprises, marques et entrepreneurs dans la création et le déploiement de leur stratégie de communication.
    </p>

    <p class="description">
        Avant de me lancer en freelance, j’ai évolué en alternance chez Efalia, éditeur de solutions documentaires, où j’ai développé une solide expertise en communication 360°... avec un vrai coup de cœur pour l’organisation d’événements. J'ai également eu la chance de travailler la gestion des réseaux sociaux chez Karos, application de covoiturage quotidien.
    </p>

    <!--<p class="description">
        Aujourd'hui, je propose mes services en tant que :
    </p>

    <ul class="liste">
        <li><strong class="bold">Consultante communication</strong> freelance à Lyon (et partout ailleurs en visio),</li>
        <li>Chargée de <strong class="bold">projet événementiel</strong> (entreprises ou particuliers),</li>
        <li>Spécialiste en <strong class="bold">stratégie digitale et réseaux sociaux</strong>.</li>
    </ul>

    <p class="description">
        Ma force : allier organisation, créativité, sens du contact et vision stratégique pour faire avancer vos projets de manière fluide et efficace.
    </p>-->
</div>

<img src="/me.png" alt="Photo de Clémence Jomain" class="about-me-image" />
