<div class="content">
    <h2 class="title">Qui suis-je ?</h2>

    <p class="description">
        Enchantée, moi c'est <strong class="bold">Clémence Jomain !</strong> ⭐
    </p>

    <p class="description">
        <strong class="bold">Freelance en communication basée à Lyon</strong>, je suis consultante et cheffe de projet en 
        <strong class="bold">communication 360°</strong> et en <strong class="bold">événementiel</strong>.
        Mon objectif ? Mêler structure, créativité et bonne humeur dans vos projets de communication, quels qu'ils soient !
    </p>

    <p class="description">
        Diplômée d'un <strong class="bold">Mastère en Management de la Communication</strong> (options Réseaux Sociaux, Stratégie Digitale et International Brand Strategy),
        j'accompagne aujourd'hui <strong class="bold">entreprises, marques et entrepreneurs</strong> dans la création et le déploiement de leur stratégie de communication globale.
    </p>

    <p class="description">
        Avant de me lancer dans l'aventure freelance, j'ai eu la chance de travailler en <strong class="bold">alternance chez Efalia</strong>, éditeur de solutions documentaires.
        Une expérience riche qui m'a permis de me former en communication 360°... avec une mention spéciale pour l'organisation d'événements, un domaine que j'adore !
    </p>

    <p class="description">
        Aujourd'hui, je propose mes services en tant que :
    </p>

    <ul class="liste">
        <li><strong class="bold">Consultante communication</strong> freelance à Lyon (et partout ailleurs en visio),</li>
        <li>Chargée de <strong class="bold">projet événementiel</strong> (entreprises ou particuliers),</li>
        <li>Spécialiste en <strong class="bold">stratégie digitale et réseaux sociaux</strong>.</li>
    </ul>

    <p class="description">
        Ma force : allier organisation, créativité, sens du contact et vision stratégique pour faire avancer vos projets de manière fluide et efficace.
    </p>
</div>

<img src="/me.png" alt="Photo de Clémence Jomain" class="about-me-image" />
