<h2>
    <span uiTitle hasBackground size="large">Votre Chargée de projets</span>
    <br />
    <span uiTitle hasBackground size="large">Communication & évémentiel Lyon</span>
</h2>

<div class="card">
    <div class="content">
        <p>
            Freelance spécialisée en communication et événementiel à Lyon, je vous accompagne dans <strong>la création et le pilotage de vos projets</strong>. De l'organisation d'événements professionnels à la structuration de votre stratégie digitale, je mets mon expertise au service de votre image de marque et de vos objectifs.
            <br /><br />
            → Débordé(e) et besoin d'un pilote pour vos projets communication ? 
            <br /><br />
            → Motivé(e) mais en quête d'expertise créative et stratégique ?
        </p>

        <a uiButton class="discuss-button" routerLink="/contact">Discutons de votre projet</a>
    </div>
    
    <ui-image imageName="me" imageType="decor" class="about-me-decor" />    
</div>
