:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 120px;
    position: relative;

    .cards-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 2rem;
        padding: 0 2rem;
    }
    
    .card {
        flex: 1;
    }

    .services-button {
        margin: 3rem 3rem 0 auto;
    }
}