@font-face {
    font-family: 'Questrial';
    src: url('assets/fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('assets/fonts/poppins.bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}