@import './app/styles/colors.css';
@import './app/styles/fonts.css';
@import './app/styles/title.css';
@import './app/styles/link.css';
@import './app/styles/button.css';

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--design-default);
}