:host {
    width: 100vw;
    height: 300px;
    position: relative;
    background-color: var(--design-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 160px 0;

    .title {
        font-family: 'SulphurPoint', sans-serif;
        font-size: 38px;
        color: var(--design-primary);
        margin: 0;
        letter-spacing: -1px;
    }
}